* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1000ms;
}

body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(214, 214, 214);
}

.searchbar {
    display: none;
    align-items: center;
    font-size: 15px;
    position: fixed;
    top:0;

}

.searchbar>div {
    width: 5%;
    text-align: center;
    background-color: greenyellow;
    padding: 13px;
    height: 70px;;
}

.searchbar input {
    width: 90%;
    height: 70px;
    font-size: 20px;
}

#navbar {
    width:100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgb(190, 187, 187);
    height: 70px;
    position: sticky;
    top: 0;
}

#nav1 {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

#nav1>a {
    width: 15%;
}

#nav1>a>img {
    width: 100%;
}

#nav2 {
    width: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    text-align: center;
    align-items: center;
    padding: 15px;
}

#nav2 img {
    width: 20px;
}

#nav2>div {
    font-size: 12px;
}

#nav2>div:hover {
    transition: all 500ms;
    background-color: rgb(236, 237, 255);
    padding: 2px;
    border-radius: 20px;
}

.subnav {
    background-color: red;
}

.subnav button {
    padding: 10px;
    border: 0px solid white;
    background-color: white;
    font-size: 16px;
    font-weight: bolder;
}

.subnav button:last-child {
    color: red;
}

.subnav>button:hover {
    color: red;
    border-bottom: 2px solid red;
}

.subnav-content a:hover {
    font-weight: bolder;
    border-bottom: 1px solid green;
    background-color: aliceblue;
    color: red;
    
}

.subnav-content>a {
    text-decoration: none;
    color: black;
}

.subnav-content {
    display: none;
    border: 1px solid rgb(190, 187, 187);
    border-top: 0px;
    background-color: white;
    margin-top: 13px;
    padding: 30px;
    padding-top: 10px;
    position: absolute;
    left: 270px;
    width: 70%;
    line-height: 23px;
}

.subnav:hover .subnav-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#category {
    font-weight: bolder;
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
    padding: 2px 5px;
}

.second-section {
    width: 70%;
    margin: auto;
}

.toggle {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 100px;
    padding-left: 20px;
}

.toggle>button {
    background-color: transparent;
    border: 0px solid;
}

a {
    text-decoration: none;
    color: black;
}

.second-navbar {
    display: flex;
    text-align: center;
    font-size: 80%;
}
.second-navbar>div {
    width: 10%;;
}

.second-navbar>div>img {
    width: 70%;
}
.second-navbar>div>img:hover {
    border-radius: 50px;
    border: 3px solid rgb(124, 168, 59);
    transition: all 1s;
}

.discountBanner {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgb(231, 199, 231);
    padding: 10px;
    margin-top: 25px;
}

.discountBanner>img {
    width: 50px;
    margin-right: 10px;
}

.slideShow {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: green;
}

.slideShow img {
    width: 100%;
}

.products {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.products>div {
    background-color: white;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
}
.products>div:hover {
    background-color: rgb(243, 242, 227);
    padding: 18px;
    transition: all 1s;
}

.products>div>h3 {
    font-weight: normal;
}

.products>div>img {
    width: 100%;
}

.products>div>div {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.products>div>div>img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.products>div>div>p {
    padding-left: 10px;
}

.main {
    display: flex;
}

.leftbar {
    width: 250px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    position: fixed;
    top: 70px;
}

.details {
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}

.details>span {
    background-color: rgb(235, 209, 209);
    border-radius: 5px;
    padding: 3px;
}

.filterAndSort {
    width: 100%;
    height: 500px;
    margin-top: 5px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}

.filterAndSort select {
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

option {
    background-color: rgb(217, 245, 217);
}

#allProducts {
    width: 50%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 200px;
}

#allProducts>div {
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 10px;
    text-align: center;
}
#allProducts>div:hover {
    background-color: rgb(241, 233, 233);
    padding: 5px;
    transition: all 0.5s;
}

#allProducts>div>h3 {
    padding: 0px;
}

#allProducts img {
    width: 100%;
}

#allProducts>div>div {
    padding: 0px 20px;
}

#allProducts>div p {
    margin-left: 5px;
}

#allProducts>div p:nth-child(1) {
    color: rgb(41, 41, 109);
    font-size: 17px;
}

#allProducts>div p:nth-child(2) {
    color: rgb(163, 154, 154);
    text-decoration: line-through;
}

#allProducts>div p:nth-child(3) {
    color: green;
}

#allProducts>div>div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(163, 154, 154);
}

#allProducts>div>div:last-child button {
    margin-left: 10px;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    border: 0px solid;
    color: white;
    background-color: red;
    font-weight: bolder;
}
#allProducts>div>div:last-child button:first-child {
    background-color: rgb(97, 194, 97);
}
#allProducts>div>div:last-child button:first-child:hover {
    background-color: transparent;
    color: transparent;
    transition: ease-out 300ms;
}
#allProducts>div>div:last-child button:last-child:hover {
        background-color: white;
        transition: all 700ms;
        border: 2px solid red;
        color: red;

}

x {
    color: rgb(71, 38, 38);
    padding: 0px 20px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
}
.theCart{
    width:50%;
    margin:auto;
    margin-top: 30px;
    display: flex;
}
.cartItems{
    width:70%;
    padding:20px;
    margin-bottom: 50px;
}
.cartItems>div{
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
}
.cartItems>div>img{
    width:150px;
    border-radius: 3px;
}
.cartItems>div>div {
    padding: 10px;
}
.cartItems>div>div:last-child p:nth-child(1) {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(20, 20, 75);
}
.cartItems>div>div:last-child p:nth-child(2) {
    text-decoration: line-through;
    color: rgb(148, 151, 155);
}
.cartItems button{
    background-color: rgb(230, 73, 73);
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 10px;
}
.cartItems button:hover {
    background-color: rgb(224, 224, 224);
    color: rgb(122, 122, 122);
    padding-left: 30px;
    transition: all 700ms;
}
.summary{
    background-color: white;
    width: 20%;
    height: 500px;
    text-align: center;
    position: fixed;
    left: 60%;
    top: 120px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.summary>p:nth-child(4){
    font-size: 25px;
    color: red;
}
.summary button {
    width: 80%;
    padding: 15px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bolder;
}
.summary button:hover {
    font-size: 25px;
    padding: 12px;
    transition: all 1s;
}
.summary span{
    font-weight: bolder;
}

.footer{
    background-color: rgb(240, 240, 240);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    margin-top: 20px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.footer>div{
    width: 90%;
    font-size: 20px;
    text-align: center;
    color: rgb(128, 125, 125);
    line-height: 10px;
    display:flex;
    justify-content: space-between;
}
.footer>div span{
    padding: 3px;
    border-radius: 10px;
    font-weight: bolder;
}
.footer>img{
    width: 80px;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: fixed;
    bottom: 20px;
    right: 50px;
}
.footer>img:hover{
    width: 150px;
    border-radius: 100px;
    transition: all .5s;
}


@media only screen and (max-width:1200px) {
    .products {
        width: 80%;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        #navbar {
            width: 100%;
            display: grid;
            height: 150px;
            text-align: center;
        }
        #nav2{
            margin: auto;
        }
        .discountBanner {
            width: 80%;
        }
        .slideShow {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        #allProducts {
            width: 50%;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px
        }
        .footer>img {
            width: 60px;
            right: 10px;
        }
        .cartItems>div>img {
            width: 100px;
        }
        .theCart {
            font-size: 10px;
        }
        .second-navbar {
            font-size: 60%;
        }
        .summary {
            height: 400px;
            top:200px;
        }
        .leftbar {
            font-size: 13px;
            top: 140px;
            width:200px
        }
        .subnav-content {
            display: none;
            left: 200px;
            width: 60%;

        }
        .subnav:hover .subnav-content {
            display: grid;
            margin-top: 92px;
            grid-template-columns: repeat(4, 1fr);
        }
}

@media only screen and (max-width:800px) {
    .products {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
        .discountBanner {
            width: 90%;
        }
        .slideShow {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        #allProducts {
            width: 50%;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px
        }
    
        .leftbar {
            font-size: 10px;
            top: 140px;
            width: 150px
        }
        .footer>img {
            width: 50px;
            right: 5px;
        }
    
        .cartItems>div>img {
            width: 100px;
        }
    
        .theCart {
            font-size: 7px;
        }

        .second-navbar {
            font-size: 40%;
        }
        .footer>div {
            display: block;
        }
        .cartItems>div {
            display: block;
        }
        .summary>p:nth-child(4) {
            font-size: 15px;
            color: red;
        }
        .summary {
            height: 300px;
        }
        #navbar {
            width: 100%;
            display: block;
            text-align: center;
        }
        #nav2{
            position: absolute;
            top: 70px;
            left: 100px;
        }
        .leftbar {
            font-size: 13px;
            top:140px;
        }
        .summary{
            top: 200px;
        }
        .subnav-content {
            display: none;
            left: 150px;
            width: 60%;
        }
    
        .subnav:hover .subnav-content {
            margin-top: 92px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
}

@media only screen and (max-width:495px) {
    .leftbar{
        display: none;
    }
    #allProducts {
        width: 80%;
    }
.subnav:hover .subnav-content {
    margin-top: 92px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
}
